*{
    box-sizing: border-box;
    
}



.hero{
   background-image: url("/images/background.png");
}
.about{
    text-align: center;
}


.about ul{
    display: inline-block;
    text-align: left;
}
tr a {
    display: table-row;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

