<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .menu-container {
            border-right: 1px solid #ccc;
            height: 100%;
        }

        .menu-container .nav-link {
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        .appointments-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 10px;
        }

        .table-responsive {
            overflow-x: auto;
        }
    </style>
    <title>Lecturer Dashboard</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <section id="header">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Remote PA</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/signout">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-2">
                <div class="row h-100">
                    <div class="col-12 menu-container">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="/createTimeslot">Set Availability times</a>
                            <a class="nav-link" id="Edit" href="\update">Edit Consultation</a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <section id="dashboard-heading">
                    <h1>Lecturer Appointment Dashboard</h1>
                </section>
                <div class="appointments-box">
                    <h2>Lecturer Appointments</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Date & Time</th>
                                    <th scope="col">Event Title</th>
                                    <th scope="col">Lecturer Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(appointments.length === 0){ %>
                                    <td>No appointments available.</td>
                                    <% }else { %>
                                        <% appointments.forEach(function(appointment){ %>
                                            <tr>

                                                <td>
                                                    <%= appointment.date %>
                                                </td>
                                                <td>
                                                    <%= appointment.eventTitle %>
                                                </td>
                                                <td>
                                                    <%= appointment.lecturerName%>
                                                </td>
                                            </tr>
                                            <%}); %>


                                                <%}%>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>