<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script defer src="/scripts/Login.js"></script>
    <title>Login</title>
</head>

<body>


    <!----------------------Main Container-------------------------------------->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!---------------------Login Container-------------------------->
        <div class="row border rounder-5 p-3 bg-white shadow box-area">

            <!------------------------- Left Box-------------------->
            <div class='col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box'>
                <div class="featured-image mb-3">
                    <img src="images/LOGO.png" class="img-fluid" style="width: 300px;">
                </div>
            </div>

            <!-------------------------Right Box------------------------------>
            <div class='col-md-6 right-box'>
                <h2>Login</h2>
                <div class="row align-items-center">
                    <form action="/signin" method="post">
                        <div class="input-group mb-3">
                            <input name="email" type="text" class="form-control form=control-lg bg-light fs-6"
                                placeholder="Email address">
                        </div>

                        <div class="password-wrapper ">
                            <input name="password" type="password" class="form-control form=control-lg bg-light fs-6"
                                placeholder="Password" id="password">
                            <i id="togglePassword" class="fa fa-eye password-icon"></i>
                        </div>
                        <br>

                        <div class="input-group mb-5">
                            <input type="submit" name="loginButton" id="loginButton" value="Login" style="background-color: blue; color: white; border: none; padding: 10px 20px;">
                        </div>
                    </form>

                   <% if (passwordMessage && passwordMessage.length > 0) { %>
                        <div class="alert alert-danger">
                          <%= passwordMessage %>
                        </div>
                      <% } else if (emailMessage && emailMessage.length > 0) { %>
                        <div class="alert alert-danger">
                          <%= errorMessage %>
                        </div>
                      <% } %>

                            <div class="forgot">
                                <small><a href="#">Forgot Password</a></small>
                            </div>
                </div>
                <a class="linkText" href="signup">Don't have an Account? Create Account.</a>

            </div>
        </div>

    </div>
    </div>
</body>

</html>