<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script defer src="/scripts/signup.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/signup.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Create an account</title>
</head>

<body>
    <!----------------------Main Container-------------------------------------->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!---------------------Login Container-------------------------->
        <div class="row border rounder-5 p-3 bg-white shadow box-area">

            <!------------------------- Left Box-------------------->
            <div class='col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box'>
                <div class="featured-image mb-3">
                    <img src="images/LOGO.png" class="img-fluid" style="width: 400px;">
                </div>
            </div>

            <!-------------------------Right Box------------------------------>
            <div class='col-md-6 right-box'>
                <h2>Create an account</h2>
                <div class="row align-items-center">
                    <form id="signupform" action="/signup" method="post">
                        <div class="input-group mb-3">
                            <input name="name" type="text" class="form-control form=control-lg bg-light fs-6" placeholder="Name" required>
                        </div>

                        <div class="input-group mb-3">
                            <input name="surname" type="text" class="form-control form=control-lg bg-light fs-6" placeholder="Surname" required>
                        </div>

                        <div class="input-group mb-3">
                            <input name="email" class="form-control" placeholder="Email" type="email" id="email-field"
                                oninput="validateEmailWrapper(event)" />
                            <div id="email-error" class="input-group mb-3">
                                <span id="email-error"></span>
                            </div></div>
                
                        <div class="input-group mb-3">
                            <select name="role" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                                <option selected>Select your role</option>
                                <option value="student">Student</option>
                                <option value="lecture">Lecture</option>
                               
                              </select>
                        </div>
                            <div class="password-wrapper">
                                <input class="form-control" type="password" id="password" placeholder="Password"
                                    name="password" oninput="validatePasswordWrapper(event)" required/>
                                    <i id="togglePassword" class="fa fa-eye password-icon"></i>
                                    </div>

                                <div class="password_requirements">
                                    <ul>
                                        <div class="input-group mb-3">
                                            <span id="password-error"></span>
                                        </div>
                                    </ul>
                                </div>
                        


                            <div class="password-wrapper">
                                <input class="form-control" type="password" id="password_confirm"
                                    placeholder="Confirm Password" name="password_confirm"
                                    oninput="confirmPasswordWrapper(event)" required/>
                                    <i id="togglePassword-confirm" class="fa fa-eye password-icon"></i>
                            </div>
                                <div class="password_requirements">
                                    <ul>
                                        <div class="input-group mb-3">
                                            <span id="password-fail"></span>
                                        </div>
                                    </ul>
                                </div>

                            </div>


                            <div class="button-group" style="display: flex; justify-content: center;">
                                <div class="input-group mb-5" style="margin-right: 10px;">
                                    <input type="submit" name="SignUpButton" id="SignUpButton" value="Sign Up" style="background-color: blue; color: white; border: none; padding: 10px 20px;">
                                </div>
                            </div>
                    </form>





                </div>
                <a class="linkText" href="signin" >Already have an account? Login.</a>

            </div>
        </div>

    </div>
    </div>
</body>

</html>