<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Availability Timeslots</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/scheduleAppointment.css">



</head>

<body>
    <h3>Set Appointment</h3><br>
    <div class="card text-center">
        <form id="scheduleAppointmentForm" action="/createTimeslot" method="post">
            <div class="mb-3">
        
                <label class="form-label">Availability time
                    <input name="availabilityTime" type="text" class="form-control" required>
                </label><br>
                <p class="form-errors" id="eventTitleError"></p>
    
                <label class="form-label">Number of students allowed
                    <input name="numberOfStudents" type="text" class="form-control" required>
                </label><br>
                  <label class="form-label">Date
                    <input name="date" type="text" class="form-control" required >
                </label><br>
    
        
                <input type="submit">
              
            </div>
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
</body>
</html>