/*body{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background: #888;
}

.box area{
    width: 930px;
}

.button-group {
    display: flex;
    justify-content: center;
  }

  .input-group {
    display: inline-block;
    margin-right: 10px;
  }

  .error-color {
    color: red;
  }*/